<!DOCTYPE html>
<html>
    <head>
        <title>EdTab Sync Succeess</title>
        <script src='https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js' crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <div class="columns is-centered">
            <div class="column is-half">
                <section class="section has-text-centered">
                    <div class="notification is-primary">
                        <p>The assignments were successfully synchronized</p>
                        <a href="{{ base_uri }}">Back to the main page</a>
                    </div>
                </section>
            </div>
        </div>

        <script type="text/javascript">
            microsoftTeams.initialize();
        </script>
    </body>
</html>
